.skills{
  margin-top: 10vh;
  background-color: var(--secondry-color);
}

.skills h2{
  text-align: center;
  margin: 3rem;
}

.skills h4{
  margin-bottom: 2rem;
  padding: 1rem;
}

.skills .group{
  border: 1.5rem solid var(--main-color);
  background-color: var(--main-color);
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.icon {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1rem;
}

.skills .icon{
  font-size: 3rem;
}
